*{
    margin: 0;
    padding: 0;
    font-family: "Shippori Mincho", serif;
}

/* Background Image */
.background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.627),rgba(0, 0, 0, 0.6)) , url(background/about-background.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #f0f4f8;
}

/* Top Section */
.top-container{
    align-items: center;
    padding:  14% 8% 21% 8%;
    font-size: 2.2rem;
}
@media screen and (max-width: 1480px){
    .top-container{
        padding:  20% 8% 21% 8%;
        font-size: 1.5rem;  
    }
}
@media screen and (max-width: 1024px){
    .top-container{
        padding:  25% 8% 21% 8%;
        font-size: 1rem;  
    }
}
@media screen and (max-width: 650px){
    .top-container{
        padding:  30% 8% 21% 8%;
        font-size: 0.7rem;  
    }
}
@media screen and (max-width: 460px){
    .top-container{
        padding:  35% 8% 21% 8%;
        font-size: 0.45rem;  
    }
}

/* About */
.about {
    padding: 5% 10%;
    background-image: url(background/black-background.jpg);
    color: #d3d3d3;
    text-align: justify;
}
.header h1 {
    color: #ffffff;
    text-align: center;
    font-size: 4rem;
}
.section {
    margin-bottom: 40px;
}
.section-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-image:nth-of-type(even){
    margin-left: 1rem;
}
.section-image:nth-of-type(odd){
    margin-right: 1rem;
}
.section-image img {
    height: 300px;
}
.section h2 {
    font-size: 2.5rem;
    margin: 2rem 0 1rem 0;
    color: #f3ede2;
}
.align-right {
    text-align: right;
}
.section p {
    font-size: 1.2rem;
    line-height: 1.8;
}
.team-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.team-text p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin: 20px 0;
}
.team-member {
    display: flex;
    align-items: center;
    background-color: #f0f4f8;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 500px;
    transition: all ease 0.5s;
}
.team-member:hover {
    transform: scale(1.03);
    background-color: #f3ede2;
}
.team-member img {
    border-radius: 50%;
    width: 500px;
    height: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    object-fit: cover;
    overflow: hidden;
}
.team-member h3 {
    margin: 10px 0 5px;
    font-size: 1.5rem;
    color: #242124;
}
.team-member p {
    margin: 0;
    color: #555555;
    font-size: 1rem;
}
.team-member .role {
    color: #949494;
    font-style: italic;
}
.team-member .contribution {
    font-size: 0.9rem;
    color: #555555;
    margin-top: 10px;
    line-height: 1.5;
}
@media screen and (max-width: 1375px){
    .team-container {
        justify-content: center;
    }
}
@media screen and (max-width: 1200px){
    .section h2 {
        font-size: 2rem;
        margin: 2rem 0 1rem 0;
    }
    .section p {
        font-size: 1rem;
        line-height: 1.8;
    }
}
@media screen and (max-width: 1024px){
    .section h2 {
        font-size: 1.7rem;
        margin: 2rem 0 1rem 0;
    }
    .section p {
        font-size: 0.8rem;
        line-height: 1.8;
    }
    .section-image img {
        height: 200px;
    }
}
@media screen and (max-width: 900px){
    .section h2 {
        font-size: 1.5rem;
        margin: 2rem 0 1rem 0;
    }
    .section p {
        font-size: 0.7rem;
        line-height: 1.8;
    }
}
@media screen and (max-width: 730px){
    .header h1{
        font-size: 3rem;
    }
    .team-text p{
        font-size: 1rem;
    }
    .section h2 {
        font-size: 1.3rem;
        margin: 2rem 0 1rem 0;
    }
    .section p {
        font-size: 0.6rem;
        line-height: 1.8;
    }
    .section-image img {
        height: 180px;
    }
}
@media screen and (max-width: 620px){
    .header h1{
        font-size: 2rem;
    }
    .section h2 {
        font-size: 1rem;
        margin: 2rem 0 1rem 0;
    }
    .section p {
        font-size: 0.5rem;
        line-height: 1.8;
    }
    .section-image img {
        height: 150px;
    }
    .team-member {
    width: 300px;
    }
    .team-member h3 {
        font-size: 1.2rem;
    }
    .team-member p {
        font-size: 0.6rem;
    }
    .team-member .contribution {
        font-size: 0.5rem;
    }
}
@media screen and (max-width: 430px){
    .section h2 {
        font-size: 1.3rem;
        margin: 2rem 0 1rem 0;
    }
    .section p {
        font-size: 0.6rem;
        line-height: 1.8;
    }
    .section-content{
        flex-direction: column;
    }
    .section-image:nth-of-type(even){
        margin-left: 0;
        margin-top: 1rem;
    }
    .section-image:nth-of-type(odd){
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .section-image img {
        height: 200px;
        width: 300px;
        object-fit: cover;
    }
    .align-right {
        text-align: left;
    }
}