*{
    margin: 0;
    padding: 0;
    font-family: "Shippori Mincho", serif;
}

/* Background Image */
.background{
    background-image: url(background/black-background.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #f0f4f8;
}

/* Top Section */
.top-container{
    padding: 10% 8% 5% 8%;
}

/* Account */
.account-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 3rem;
    background-color: #f3ede2;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.account-container h1 {
    color: #242124;
    text-align: center;
}
.account-container p {
    color: #949494;
    text-align: center;
}
.loyalty-program-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.loyalty-program-container h2 {
    font-size: 1.5rem;
    color: #242124;
    margin-bottom: 1rem;
}
.loyalty-program-container p {
    font-size: 1rem;
    color: #949494;
}
.progress-section {
    margin: 1rem 0;
}
.progress-bar {
    width: 100%;
    height: 1rem;
    background-color: #949494;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}
.progress-fill {
    height: 100%;
    background-color: gold;
    width: 70%;
}
.rewards-section h3 {
    font-size: 1.2rem;
    color: #242124;
    margin-bottom: 1rem;
}
.rewards-section ul {
    list-style: none;
    padding: 0;
}
.reward-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f4f8;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #949494;
    border-radius: 4px;
    font-size: 0.9em;
}
.claim-button {
    background-color: #242124;
    color: #f0f4f8;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.claim-button:disabled {
    background-color: #949494;
    cursor: not-allowed;
}
.logout-button {
    background-color: gold;
    color: #555555;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: all ease 0.5s;
}
.logout-button:hover {
    background-color: #feb204;
    color: #f0f4f8;
}
@media screen and (max-width: 450px){
    .account-container {
        margin: 100px 0;
    }
    .account-container h1 {
        font-size: 1.4rem;
    }
    .account-container p {
        font-size: 1rem;
    }
    .loyalty-program-container h2 {
        font-size: 1.2rem;
        color: #242124;
        margin-bottom: 1rem;
    }
    .loyalty-program-container p {
        font-size: 0.7rem;
        color: #949494;
    }
    .rewards-section h3 {
        font-size: 1rem;
        color: #242124;
        margin-bottom: 1rem;
    }
    .claim-button {
        font-size: 0.5rem;
    }
}

