*{
    margin: 0;
    padding: 0;
    font-family: "Shippori Mincho", serif;
}

/* Background Image */
.background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.627),rgba(0, 0, 0, 0.6)) , url(background/login-background.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #f0f4f8;
}

/* Top Section */
.top-container{
    padding: 10% 8% 5% 8%;
}

/* Login */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.login-container h2 {
    color: #242124;
    text-align: center;
}
.description {
    font-size: 1rem;
    color: #555555;
    margin-bottom: 20px;
    text-align: center;
}
.form-label {
    text-align: left;
    display: block;
    margin-top: 1rem;
    color: #242124;
    font-size: 0.9rem;
}
.form-input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
    border: 1px solid #949494;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box; 
}
.top-container button {
    background-color: #242124;
    color: #f0f4f8;
    cursor: pointer;
}
.top-container button:hover {
    background-color: #555555;
}
.signup-link {
    font-size: 1rem;
    color: #949494;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}
.signup-link:hover {
    text-decoration: underline;
    color:blue;
}
.error-message {
    color: red;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.show-password{
    padding-top: 1rem;
    color: #242124;
}
@media screen and (max-width: 700px){
    .login-container {
        margin: 100px auto;
    }
}
