*{
    margin: 0;
    padding: 0;
    font-family: "Shippori Mincho", serif;
}

/* Background Image */
.background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(background/menu-background.png);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #f0f4f8;
}

/* Top Section */
.top-container{
    align-items: center;
    padding:  14% 8% 21% 8%;
    font-size: 2.2rem;
}
@media screen and (max-width: 1480px){
    .top-container{
        padding:  20% 8% 21% 8%;
        font-size: 1.5rem;  
    }
}
@media screen and (max-width: 1024px){
    .top-container{
        padding:  25% 8% 21% 8%;
        font-size: 1rem;  
    }
}
@media screen and (max-width: 680px){
    .top-container{
        padding:  30% 8% 21% 8%;
        font-size: 0.7rem;  
    }
}
@media screen and (max-width: 470px){
    .top-container{
        padding:  35% 8% 21% 8%;
        font-size: 0.45rem;  
    }
}

/* Menu */
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    color: #242124;
    background-color: #f3ede2;
}
.title{
    text-align: center;
    font-size: 48px;
}
.menu-navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.category{
    padding: 1rem;
}
.menu-button{
    margin: 0.1rem;
    background-color: transparent;
    color: #242124;
    padding: 10px 24px;
    font-size: medium;
    border: 2px solid #242124;
    border-radius: 5%;
    transition: all ease 0.3s;
}
.menu-button:hover{
    background-color: #242124;
    color: #f3ede2;
    border: 2px solid #242124;
}
.searchbar{
    padding: 1rem;
}
.searchbar input{
    background-color: #f0f4f8;
    padding: 10px 12px 10px 12px;
    border: 2px solid #949494;
    border-radius: 2%;
    font-size: medium;
}
.menu-items{
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    grid-gap: 1rem;
    justify-content: center;
}
.card{
    width: 250px;
    padding-bottom: 1rem;
    background-color: #e6e5e2;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: transform 0.5s ease;
}
.card:hover{
    width: 250px;
    padding-bottom: 1rem;
    background-color: #ffffff;
    color: #000000;
    transform: scale(1.03);
}
.card-text{
    padding-top: 10px;
    padding-left: 10px;
}
.card img{
    width: 250px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}
@media screen and (max-width: 1000px){
    .menu-navbar{
        flex-direction: column;
        align-items: center;
    }
    .searchbar input{
        width: 500px;
    }
}
@media screen and (max-width: 700px){
    .menu-button{
        padding: 7px 16px;
        font-size: small;
        border: 1px solid #242124;
    }
    .searchbar input{
        width: 275px;
    }
}
@media screen and (max-width: 540px){
    .category{
        display: flex;
        flex-direction: column;
    }
    .menu-button{
        padding: 10px 24px;
        font-size: medium;
        border: 2px solid #242124;
        margin-top: 12px;
    }
}

/* Modal */
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.modal-content{
    background: #ffffff;
    padding: 2.5rem;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    position: relative;
}
.modal-image{
    width: 325px;
    height: 300px;
    margin-bottom: 1rem;
    object-fit: cover;
    overflow: hidden;
}
.close-button{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #949494;
    cursor: pointer;
    z-index: 999;
}
.close-button:hover{
    color: #242124;
}
@media screen and (max-width: 630px){
    .modal-content{
        padding: 2.5rem 0.5rem;
    }
}
@media screen and (max-width: 430px){
    .modal-content{
        padding: 2.5rem 0.25rem;
    }
    
    .modal-image{
        width: 260px;
        height: 240px;
    }
}

